<%= partial "partials/head" %>

<body class="code">
  <%= partial "partials/header" %>
  <main role="main" class="pt3-ns">
    <%= yield %>
  </main>
  <%= partial "partials/footer" %>
  <%= javascript_include_tag "build" %>
  <%= partial "partials/google_analytics" %>
</body>
</html>
