<% wrap_layout :default do %>
  <article>
    <div class="mw7 center code">
      <img src="<%= current_page.data.awslink %>">
      <div class="pa3">
        <h2 class="f5"><%= current_page.data.title %></h2>
        <code class="lh-copy">
          <%= yield %>
        </code>

        <%= partial "partials/further_reading", locals: { links: current_page.data.further_reading } %>
      </div>
    </div>

    <footer class="pv4 ph3 mw7 center gray" style="font-size:.75rem;">
      <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </footer>
  </article>
  <%= partial "partials/archives" %>
<% end %>
